- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %div
      = link_to restaurant.name, restaurant_path(restaurant)
      = restaurant.description
- else
  No restaurants yet!

%a(href='restaurants/new') Add a restaurant
