/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100%;
  width: 100%;
}
body {
  width: 80%;
  background-color: #ae2c37;
  font-family: helvetica;
  margin: auto;
}
h1 {
  color: #d5d8d9;
  font-size: 50px;
  letter-spacing: 0.4em;
}
a {
  color: #d5d8d9;
  font-size: 18px;
}
header > a {
  font-size: 36px;
  text-decoration: none;
  letter-spacing: 0.2em;
}
#details {
  display: flex;
  flex-direction: column;
  background-color: grey;
  margin: auto;
  margin-bottom: 50px;
  height: 300px;
  border-radius: 5px;
}
content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
image{
  width: 33.3%;
}
rating {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
description {
  width: 33.4%;
  color: #d5d8d9;
  font-size: 18px;
}
div#options {
  display: flex;
  align-items: flex-end;
}
